@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.container {

}

.tabscontainer {
    
}


.mainbox {
    background-color: whitesmoke;
    margin-top: 0.6cm;
    
}

.text {
    margin-left: 1cm;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5cm;
}

