@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Great+Vibes&display=swap');

.heading {
    font-family: 'Fredoka', sans-serif;
    margin-left: 1cm;
    
}

.image {
    margin-top: 1.5cm;
}

.registry {
    background-color: whitesmoke;
    margin-top: 1.5cm;
}

.countdown {
    font-family: 'Fredoka', sans-serif;
}

